.links{
    color: #830b0b;
    margin-left: 360px;
    margin-top: 20px;
}

.a{
    margin: 20px; 
}

.topic{
    display: flex;
    flex-wrap:wrap;
    margin-left: 530px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

.instruction{
    display: flex;
    font-size: 30px;
    justify-content: space-evenly;
}

.menu{
    display: flex;
    background-color: #EDECED;
    background-image: url('bg.jpg');
    font-weight: 500;
}

.menu a{
    padding : 10px;
    color: #0A0A97;
}

body{
    background-color: rgb(153, 120, 128);
}

.grid{
    display: flex;
    flex-wrap: wrap;
    border: solid;
    border-color: #FFEBCD;  
    font-family: fantasy;
}

.grid h3{
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    justify-content: center;
}

.heading i{
    padding-left: 20px;
    font-family: cursive;
    font-weight: bolder;
}

.header h1{
    display: flex;
    padding-right: 100px;
    justify-content: space-evenly;
}

.grid img{
    border: 3px solid ;
    border-color: #850B7B ;
    border-inline-color: #0000FF;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-top: 50px;
}

.footer{
    margin-left: 630px;
    justify-content: space-around;
}

.origami {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 28px;
    border: solid;
    border-color: #AFACA9; 
    background-color: #9E7C89;
    border-radius: 20px;
    width:410px;
    font-family: fantasy;  
}